#------------------------------------------------------------------------------#
# vi: set sw=4 ts=4 ai:                            ("set modeline" in ~/.exrc) #
#------------------------------------------------------------------------------#

#------------------------------------------------------------------------------#
#                    V e r s i o n   i n f o r m a t i o n                     #
#------------------------------------------------------------------------------#
# $Id:: .gitattributes 5 2010-10-25 09:20:41 tonk                           $: #
# $Revision:: 5                                                             $: #
# $Author:: Ton Kersten <we-blog@tonkersten.com>                            $: #
# $Date:: 2011-09-21 15:04:47 +0200 (Wed, 21 Sep 2011)                      $: #
# $Hash::                                                                   $: #
#------------------------------------------------------------------------------#
#             E n d   o f   v e r s i o n   i n f o r m a t i o n              #
#------------------------------------------------------------------------------#

*   filter=gitvi
